body {
    background-color: lightcyan;
    /*background-color: red;*/
}
.container-fluid{
    /*background-color: yellow;*/
    /*max-width: 100%;*/
}
.login{
    float: left;
}
nav {
    position: fixed;
    top: 0;
    background: #fff;
    text-align: center;
    z-index: 2;
    width: 100%;
}

.font-weight-light  {
    text-align: center;
    font-weight: bold;
}

.aboutUs {
    padding: 20px;
}
.aboutUs li {
    padding: 10px;
}

.whyWe {
    margin-top: 1.5rem;
}

.up {
    width: 1330px;
    height: 135px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRH1HOGCJkTaEVmtDpsHQL-eYZ70qsDkrQIwdbK4JKo-Mpow5OM");
    align-content: center;
}
.upText {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.imgClients {
    width: 140px;
    height: 180px;
}

.imgBestsellers {
    width: 250px;
    height: 320px;
}




/*.leftContainer{*/
/* background-color: red;*/
/*}*/
/*.middleContainer {*/
/*    background-color: green;*/

/*}*/
/*.rightContainer {*/

/*    background-color: blue;*/

/*}*/

/*.navBar ul li a{*/
/*    display: block;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    color: #000;*/
/*    padding: 8px 16px;*/
/*    text-decoration: none;*/
/*    background-color: #555;*/
/*}*/
/*.leftContainer ul li a {*/
/*    display: block;*/
/*    !*position: fixed;*!*/
/*    !*top: 150px;*!*/
/*    width: 250px;*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    width: 200px;*/
/*    background-color: #f1f1f1;*/
/*}*/

/*.middleContainer {*/

/*}*/
/*.rightContainer {*/

/*}*/

